/* Welcome note styling */
.welcome-note {
  max-width: 30em;
  margin: 2em auto;
  padding: 1.5em;
  background: #ffffff;
  border-radius: .4em;
  box-shadow: 0 1em 2em rgba(0,0,0,0.1);
  text-align: left;
}
.welcome-note h2 {
  font-size: 1.5em;
  margin-bottom: .5em;
  color: #1a5fa2;
}
.welcome-note p {
  margin-bottom: 1em;
  line-height: 1.4em;
  color: #333;
}

/* QR result styling */
#qrResult {
  max-width: 25em;
  margin: 2em auto;
  padding: 2em;
  background: #fff;
  border-radius: .4em;
  box-shadow: 0 1em 2em rgba(0,0,0,0.15);
}
#qrResult h2 {
  color: #26e289;
  margin-bottom: 1em;
}
#qrResult p {
  margin-bottom: 1em;
}
#qrResult canvas {
  margin-top: 1em;
}
